$foncolor: black;
$flont_color: #ffffff;
$color_info: #99938A;



@mixin info-top {
    color: $color_info;
    text-decoration-line: underline;
    margin-right: 26px;
    color: $color_info;
}

ul {
    padding: 0;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
.containerr {
    width: 1140px;
    margin: 0 auto;
    @media (max-width: 1140px) {
        width: 900px;
    }
    @media (max-width: 900px) {
        width: 600px;
    }
    @media (max-width: 600px) {
        width: 320px;
    }
}
header {
    padding: 0.1px;
    background-color: $foncolor;
    width: 100%;
    height: 137px;
    font-size: 14px;
    div {
        color: $flont_color;
        ul.top {
            @media (max-width:900px) {
                display: none;
            } 
            display: flex;
            margin-top: 14px;
            li {
                list-style: none;
            }
            li:nth-child(1) {
                margin-right: 20px;
                padding: 6px 10px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 31px;
                margin-top: -6px;
                
                img {
                margin-left: 8px;
                margin-bottom: 3px;
                }
            }
            li:nth-child(2) {
                margin-right: 18px;
                }
            li:nth-child(3) {
                margin-right: 50px;
                }
            li:nth-child(4) {
                @include info-top()
                }
                li:nth-child(5) {
                    @include info-top()
                    } 
                    li:nth-child(6) {
                        @include info-top()
                        }         
        }
        ul.catalog {
            margin-top: 30px;
            list-style: none;
            display: flex;
            font-weight: 500;
            @media (max-width: 900px) {
               margin-top: 0px;
               flex-direction: column;
               height: 200px;
               justify-content: space-evenly;
             }
             .categ {
                display: flex;
                align-items: center;
             }
            li.categ {
                @media (max-width: 900px) {
                    display: none;
                 }
                background: #FADE4B;
                border-radius: 8px;
                width: 148px;
                height: 46px;
                font-size: 18px;
                
                ul{
                    color: black;
                    display: flex;
                    list-style: none;
                    margin-left: 16px;
                    li{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 16px;
                        img {
                            margin: 2px 5px 2px 0;
                        }
                    }
                }
            }
            li.Photomarket {
margin-top: 7px;
font-size: 26px;
margin-left: 30px;
            }

        }
        ul.search {
            @media (max-width: 1140px) {
                width: 269px;
             }
             @media (max-width: 900px) {
                width: 90%;
             }
            margin-top: -7px;
            margin-left: 30px;
            list-style: none;
            display: flex;
            width: 459px;
            height: 56px;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 60px;
            justify-content: space-between;
            align-items: center;
            li:nth-child(1) {
                margin-left: 20px;
                opacity: 0.6;
                font-weight: 400;
                font-size: 16px;
            }
            li:nth-child(2) {
                margin-right: 20px;
            }
        }
        ul.trig {
            @media (max-width: 1140px) {
               margin: 0px 10px;
            }
            @media (max-width: 900px) {
               display: none;
             }
             li.addbox {
                display: flex;
                color: #FADE4B;
              }
            list-style: none;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -5px;
        }

        li.map-pin {
            
            @media (max-width: 1140px) {
                margin-left: 15px;
             }
        }
        li.map-pin:hover{
            transform: translateY(-4px);
        }
    }
}
ul.top {
    >li:first-child {
        div.dropdown{
            .btn-secondary{
                background-color:#333333;
                border-color: #333333;
            }
            .btn {
                padding: 0;
            }
        }
    }
    >li:nth-child(2)>a {
        text-decoration: none;
        color: #99938A;
    }
    >li:nth-child(2)>a:hover {
        box-shadow: 0px 15px 20px rgba(250, 222, 75, 0.4);
        color: #FADE4B;
        transform: translateY(-7px);
    }
    >li:nth-child(3)>a {
        text-decoration: none;
        color: #99938A;
    }
    >li:nth-child(3)>a:hover {
        box-shadow: 0px 15px 20px rgba(250, 222, 75, 0.4);
        color: #FADE4B;
        transform: translateY(-7px);}
}
.slider {
    @media (max-width: 1140px) {
        width: 900px;
        border-radius: 15px;
     }
     @media (max-width: 900px) {
        width: auto;

        margin: 30px 20px 0px 20px;
         
     }
    background: url(../img/image61.png) no-repeat;
    width: 1120px;
    height: 360px;
    margin-top: 51px;
    padding: 0.1px;
    color: #ffffff;
    h1 {
        @media (max-width: 600px) {
margin-top: 0px;
             
         }
        margin-top: 48px;
        margin-left: 81px;
    }
    h2 {
        @media (max-width: 600px) {
            margin-top: 0px;
                         
                     }
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 22px;
        margin-left: 81px;
        opacity: 0.6;
    }
    p {
        @media (max-width: 600px) {
            margin-left: 35px;
                         
                     }
        margin-left: 84px;
        margin-top: 42px;
        width: 220px;
        height: 46px;
        border: #FADE4B solid 2px;
        border-radius: 28px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #FADE4B;
    }
    img:nth-child(1) {
position: relative;
top: 150px;
left: 20px;
    }
    img:nth-child(2) {
        position: relative;
        top: 150px;
        right: 20px;
        transform: rotate(180deg);
        float: right;
            }
}
.carousel-caption {
    bottom: 100px;
}

.carousel-caption.d-none.d-md-block {
    h1 {
        @media (max-width: 600px) {
margin-top: 0px;
             
         }
        margin-top: 48px;
        text-align: initial;
        // margin-left: 81px;
    }
    h2 {
        @media (max-width: 600px) {
            margin-top: 0px;
                         
                     }
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 22px;
        opacity: 0.6;
        text-align: initial;
    }
    p {
        @media (max-width: 600px) {
            margin-left: 35px;
                         
                     }
       
        margin-top: 42px;
        width: 220px;
        height: 46px;
        border: #FADE4B solid 2px;
        border-radius: 28px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #FADE4B;
    }
    p:hover{
        background-color: #FADE4B;
        box-shadow: 0px 15px 20px rgba(250, 222, 75, 0.4);
        color: #000000;
        transform: translateY(-7px);
    }
}

.carousel.carousel.slide {
    margin-top: 30px;
}

.carousel-control-prev-icon{
    background: url(img/lr/left.png);
}
.carousel-control-next-icon {
    background: url(img/lr/left.png);
}
.carousel-control-next-icon img{
    transform: rotate(180deg);
}

.carousel-indicators {
    margin-bottom: -43px;
    button[data-bs-target]{
        width: 14px;
        height: 14px;
        border-radius: 109px;
        border-top: 5px;
        border-bottom: 5px;
        background-color: #99938A;
    }
}

.frame120 {
display: none;
}
.promo {
    margin-top: 70px;
    @media (max-width:900px) {
        overflow-y: hidden;   
    }
    ul{
        display: flex;
        justify-content: space-between;
        .mark{
            @media (max-width: 1140px) {
                width: 280px;
                height: 250px;
                margin: 0 10px;
            }
        list-style: none;
        width: 352px;
        height: 280px;
        background:#EFEFEF url(../img/orig3.png) no-repeat center;
        border-radius: 20px;   
        }
        .canon{
            @media (max-width: 1140px) {
                width: 280px;
                height: 250px;
                margin: 0 10px;
            }
            list-style: none;
            width: 352px;
            height: 280px;
            background:#EFEFEF url(../img/1231.png) no-repeat center;
            border-radius: 20px;   
            }
            .nikon{
                @media (max-width: 1140px) {
                    width: 280px;
                    height: 250px;
                    margin: 0 10px;
                }
                list-style: none;
                width: 352px;
                height: 280px;
                background:#EFEFEF url(../img/canon1.png) no-repeat center;
                border-radius: 20px;   
                }
    }
    .prom {
        display: flex;
        list-style:none;
        color:black;
        flex-direction: column;
        ul li:last-child {
            font-weight: 700;
font-size: 24px;
        }
        ul li:first-child {
            font-weight: 400;
font-size: 16px;
        }
    }
    .price {
        display: flex;
        list-style: none;
        margin-top: 24px;
        justify-content: space-around;

    }
    .saleinprom {
        @media (max-width:1240px) {
            margin-top: 85px;
            margin-left: 177px;            
        }
    font-size: 16px;
    display: flex;
    margin-top: 100px;
    margin-left: 220px;
    transform: rotate(-15deg);
    background: #FADE4B;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    }
    .saleinprom:hover{
        background-color: #FADE4B;
        box-shadow: 0px 15px 20px rgba(250, 222, 75, 0.4);
        color: #000000;
        transform: translateY(-7px);
    }
    .saleinprom.to {
        background: red;
        }
        .saleinprom.to:hover {
            background-color: red;
            box-shadow: 0px 15px 20px rgba(250, 113, 75, 0.4);
            color: #000000;
            transform: translateY(-7px);
        }

}

.hit {
    margin-top: 49px;
    font-weight: 500;
font-size: 32px;
margin-bottom: 70px;
}
.productsale {
    @media (max-width: 600px) {
        align-items: center;
        flex-direction: column;
                     
                 }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    ul {
        li{
            ul{
                display: flex;
                li{
                    font-size: 18px;
                    margin-right: 10px;
                    font-weight: bold;
                }
                li:last-child {
                    color: #99938A;
                    text-decoration: line-through;
                    font-size: 14px;
                    margin-top: 4px;
                    font-weight: normal;
                }
            }
        }
    }
}
.productsale ul {
    list-style: none;
}

.oneproduct {
width: 198px;
height: 256px;
}
.oneproduct:hover {
    box-shadow: 0px 22px 40px rgba(173, 173, 168, 0.822);
    color: #000000;
    transform: translateY(-3px);
    border-radius: 6px;
}
.imageprod {
    width: 181px;
    height: 186px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.showproduct {
    width: 220px;
    height: 46px;
    background: #f5f5f5;
    border-radius: 28px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 30px auto 0 auto;
}
.showproduct:hover{
    background-color: #99938A;
    box-shadow: 0px 15px 20px rgba(56, 56, 54, 0.4);
    color: #000000;
    transform: translateY(-7px);
}
.partner {
    margin-top: 80px;
    overflow: hidden;
    div {
        display: flex;  
        animation: partner 10s linear infinite;
    }
    img{
        width: 100%;
    }

   
}
@keyframes partner {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

ul.news {
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    li {
        @media (max-width:1140px) {
            margin: 0 5px;
        }
        ul {
            list-style: none;
        }
    }
}
.onenews {
    width: 348px;
    height: 360px;
    ul {
        li:last-child {
            margin-top: 15px;
        }
    }
}

.inst {
    overflow-y: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
        @media (max-width:1140px) {
            margin: 0 5px;
        }
        width: 202px;
        height: 202px;
        flex-shrink: 0;

    }
    li:nth-child(1) {
        background: url(../img/111.png);
    }
    li:nth-child(2) {
        background: url(../img/112.png);
    }
    li:nth-child(3) {
        background: url(../img/113.png);
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;    
        align-items: center;

    }
    li:nth-child(4) {
        background: url(../img/114.png);
    }
    li:nth-child(5) {
        background: url(../img/115.png);
    }
}

footer {
    @media (max-width:620px) {
        font-size: 13px;

    }
    height: 428px;
    background-color: $foncolor;
    color: $flont_color;
    margin-top: 78px;
    font-size: 16px;
    font-weight: 400;

}

.bottommenu{
    @media (max-width:620px) {
        >li:nth-child(1) {
            display: none;
        }
        >li:nth-child(2) {
            display: none;
        }
        >li:nth-child(3) {
            display: none;
        }
        justify-content: center;
    }
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    li {
        ul {
            list-style: none;
            line-height: 28px;
            li:first-child {
                margin-top: 48px;
            }
        }
    }
    
}
.pay {
    margin-top: 50px;
}


.left-menu {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #99938A;
    transition: 0.2s;
    transform: translateX(-100%);
    z-index: 1;
}
.left-menu.click-on {
    transform: translateX(0%);
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5); /* fallback for IE */
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.btn-primary {
    color: #fff;
    background-color: #FADE4B;
    border-color: #FADE4B;
    width: 100%;}
    .btn-primary:hover {
        background-color: #FADE4B;
        border-color: #FADE4B;
    }
    .btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
        background-color: #FADE4B;
        border-color: #FADE4B; 
        
    }
    .btn-check:focus+.btn-primary, .btn-primary:focus {
        background-color: #FADE4B;
        border-color: #FADE4B; 
        box-shadow: 0 0 0 0.25rem #fade4b;
    }
    .btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
        box-shadow: 0 0 0 0.25rem #fade4b;
    }
    .offcanvas.offcanvas-start {
       .offcanvas-header{
         color: black;
        }
        .offcanvas-body {
            color: black;
            ul {
                li{
                    ul.structura{
                        display: flex;
                        align-items: center;
                        li{
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }

    .offcanvas-start {
        width: 310px;
    }
    ul.submenu_link {
        @media (max-width:900px){
            left: 0;
        }
        position: absolute;
        top: 0;
        // left: 309px;
        left: 232px;
        padding: 0 20px 0 0;
        background: white;
        width: 300px;
        height: 620px;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        li{
            background-color: #fff;
            text-align: center;
            margin: 30px 0!important;
            a {
                text-decoration: none;
                color: black;
            }
        }

    }
    ul.structura>li:hover .submenu_link {
        display: block;
    }
    .structura>li:nth-child(2) {
        width: 150px;
        margin: 0;
        padding: 10px;
    }
    .structura>li:nth-child(2):hover {
background-color: #FADE4B;
border-radius: 5px;
    }
.menu-bottom {
    display: none;
    @media (max-width:900px){
    background-color: #ffffff;
    width: 100%;
    height: 120px;
    display: flex;
    color: black;
    position: fixed;
    bottom: 0;
    ul {
        display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    li:nth-child(2){
        button{
            background-color: #ffffff;
            border: none;
        }
        button:hover {
            border: none;
        }
        
    }
    }
}
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -45px;
  }
  .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu){
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    border: none;
    width: 450px;
    height: 43px;
    margin-left: 30px;
    color:#ffffff;
    @media (max-width: 1140px) {
        width: 269px;
     }
     @media (max-width: 900px) {
        width: 90%;
     }
  }
  .btn {
    border: none;
  }
  .btn:hover {
    border-radius: 20px;
  }
  
